<!-- header.ejs -->

<header>
    <nav class="navigation">
      <a href="#home">Home</a>
      <a href="./Design/Hutong-twist.html">Product&Research</a>
      <a href="#research">Design</a>
      <a href="./Random/random.html">Random</a>
      <a href="#contact">About Me</a>
    </nav>
  </header>